<div class="container">
        <nav *ngIf="tracks.length>0" class="navbar navbar-dark bg-danger">
                <span class="navbar-brand mb-0 h1">Favourite Tracks</span>
              </nav>
        <div class="row">
                <div class="col-sm-6 pb-5" *ngFor="let track of tracks; let i = index;">
                    <div class="card">
                       
                                <div class="music-card">
                                        <img src="{{track.imageURL}}" class="music-poster" alt="{{track.name}}">
                                        <div class="music-card">
                                              <h5 class="music-title">{{track.name}}
                                                       <i (click)="removeFavourite(track)" class="fa fa-heart pull-right" style="font-size:60px;color:#dc3545;"></i></h5>
                                              
                                              <p class="music-text"><label>Airtist :</label>{{track.artistName}}</p>
                                              <div class="container-audio">
                                                    <audio controls>
                                                            <source src="{{track.previewURL}}" type="audio/mpeg">
                                                               Your browser dose not Support the audio Tag
                                                           </audio>
                                                </div>
                                        </div>
                                    </div>
                        </div>
                </div>
            </div>
            
            <nav *ngIf="playlists.length>0" class="navbar navbar-dark bg-danger">
                    <span class="navbar-brand mb-0 h1">Favourite Play Lists</span>
                  </nav>
            <div class="row">
                    <div class="col-sm-6 pb-5" *ngFor="let item of playlists; let i = index;">
                        <div class="card h-100">
                           
                                    <div class="music-card">
                                            <img src="{{item.imageURL}}" class="music-poster" alt="{{item.name}}">
                                            <div class="music-card">
                                                  <h5 class="music-title">{{item.name}}
                                                           <i (click)="removeFavourite(item)" class="fa fa-heart pull-right" style="font-size:60px;color:#dc3545;"></i></h5>
                                                  <p class="music-text">{{item.description}}</p>
                                            </div>
                                        </div>
                            </div>
                    </div>
            </div>
                
                
</div>
