<div class="container">
                <nav *ngIf="!!tracks" class="navbar navbar-dark bg-danger">
                                <span class="navbar-brand mb-0 h1">Matched Tracks</span>
                              </nav>
        <div class="row">
                <div class="col-sm-6 pb-5" *ngFor="let track of tracks; let i = index;">
                    <div class="card">
                       
                                <div class="music-card">
                                        <img src="{{track.imageURL}}" class="music-poster" alt="{{track.albumName}}">
                                        <div class="music-card">
                                              <h5 class="music-title">{{track.albumName}} 
                                                        <i class="fa fa-heart pull-right"(click)="toggleFavourite(track)" 
                                                        [class.favourite]="track.isFavourite"
                                                        [class.unfavourite]="!track.isFavourite">  </i>
                                                </h5>
                                              
                                              <p class="music-text"><label>Airtist :</label>{{track.artistName}}</p>
                                              <div class="container-audio">
                                                    <audio controls>
                                                            <source src="{{track.previewURL}}" type="audio/mpeg">
                                                               Your browser dose not Support the audio Tag
                                                           </audio>
                                                </div>
                                        </div>
                                    </div>
                        </div>
                </div>
            </div>

            <nav *ngIf="!!playlists" class="navbar navbar-dark bg-danger">
                        <span class="navbar-brand mb-0 h1">Matched Play List</span>
                      </nav>
            
            <div class="row">
                    <div class="col-sm-6 pb-5" *ngFor="let item of playlists; let i = index;">
                        <div class="card h-100">
                           
                                    <div class="music-card">
                                            <img src="{{item.images[0].url}}" class="music-poster" alt="{{item.name}}">
                                            <div class="music-card">
                                                  <h5 class="music-title">{{item.name}} 
                                                        <i class="fa fa-heart pull-right" (click)="toggleFavourite(item)" 
                                                        [class.favourite]="item.isFavourite"
                                                        [class.unfavourite]="!item.isFavourite">  </i>  
                                                </h5>
                                                  <p class="music-text">{{item.description}}</p>
                                            </div>
                                        </div>
                            </div>
                    </div>
            </div>
                
                
</div>
