
.music-card {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
  }
.music-title{
    margin-bottom: 0.75rem;
}
.music-text:last-child{
    margin-bottom: 0;
}
.music-poster{
    width: 100%;
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
}
.container-audio {
    /*  width: 66%; */
      height: auto;
     /* padding: 20px;*/
      border-radius: 5px;
      background-color: #eee;
      color: #444;
      margin: 20px auto;
      overflow: hidden;
  }
  audio {
    width:100%;
  }
.favourite{
    font-size:60px;
    color:#dc3545;
}
.unfavourite{
    font-size:60px;
    color: black;
}