<nav class="navbar navbar-expand-lg navbar-dark bg-dark"  >
    <a class="navbar-brand" href="#">Muzix App</a>
    <button class="navbar-toggler"  type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent" >
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link"  routerLink="/home" id="homeLink" routerLinkActive="active">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/favourite" id="favouriteLink" routerLinkActive="active">Favourites</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" name="searchText" [(ngModel)]="searchText" type="search" placeholder="Search" aria-label="Search">
       <button class="btn btn-outline-success my-2 my-sm-0" (click)="getSearchItems(searchText)" type="submit">Search</button>
      </form>
      <ul class="navbar-nav  pl-5">
          <li class="nav-item">
              <button class="btn btn-outline-success my-2 my-sm-0" id="logout" type="button">Logout</button>
          </li>
      </ul>
    </div>
    
  </nav>