<div class="row">
    <div class="col-sm-6 pb-5" *ngFor="let track of tracks; let i = index;">
        <div class="card">
           
                    <div class="music-card">
                            <img src="{{track.imageURL}}" class="music-poster" alt="{{track.albumName}}">
                            <div class="music-card">
                                  <h5 class="music-title">{{track.albumName}} 
                                   
                                   <i class="fa fa-heart pull-right"(click)="toggleFavourite(track)" 
                                   [class.favourite]="track.isFavourite"
                                   [class.unfavourite]="!track.isFavourite">  </i>
                                   </h5>
                                  
                                  <p class="music-text"><label>Airtist :</label>{{track.artistName}}</p>
                                 <div class="container-audio">
                                        <audio controls>
                                                <source src="{{track.previewURL}}" type="audio/mpeg">
                                                   Your browser dose not Support the audio Tag
                                               </audio>
                                    </div>
                            </div>
                        </div>
            </div>
    </div>
</div>

